/*
 * @file style for component CreateBar
 */

.list-component .create-bar-component {
  background: #0275d8;
  color: #fff;
}
.list-component .create-bar-component:hover {
  background: #013e73;
  color: #fff;
}
